@import 'neat-helpers'; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
$gutter: 0px;
// $grid-columns: 12;
$max-width: 986px;

// Neat Breakpoints
$medium-screen: 668px;
$large-screen: 860px;

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);
