// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Responsive Theme
@import 'formadmin/formadmin';

// Select2 for multiple input selection
@import "select2";

// Calendar Library
@import 'fullcalendar';

// Timepicker
@import 'jquery.timepicker.css';

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.errors {
  color: red;
  font-size: 120%;
}

#search-status-_sidebar_section {
  display: none;
}

td.fc-day:hover {
  cursor: pointer;
}

.select2 {
  margin-left: 20px;
}
