// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Raleway', sans-serif;
  @include outer-container;
  color: white;
  letter-spacing: 0.2em;
  background: black;
}

#content {
  margin-top: -1%;
  .section {
    @include span-columns(12);

    .panel {
      @include span-columns(12 of 12);
    }
  }
}

.section#hero {
  background-color:rgba(0, 0, 0, 0.3);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: initial;

  @include media($medium-screen){
    background-size: cover;
    background-position: center center;
    background-image: url('omi_background.png');
  }

  @include media($large-screen){
    background-size: contain;
    background-position: center center;
    background-image: url('omi_background.png');
  }

  #hero_content {
    @include span-columns(12 of 12);
    background-color:rgba(0, 0, 0, 0.3);
    margin: 0;

    @include media($medium-screen){
      @include span-columns(5 of 12);
      margin: 0;
    }

    @include media($large-screen){
      @include span-columns(5 of 12);
    }
  }
}

#mobile_image img {
  margin-top: -2%;
  margin-bottom: 0;
  width: 100%;
  height: 100%;
  display: block;

  @include media($medium-screen){
    display: none;
  }

  @include media($large-screen){
    display: none;
  }
}

#heading_container {
  text-align: center;
  margin: 0;
  background-color:rgba(0, 0, 0, 0.3);
  padding: 5%;

  @include media($medium-screen){
    margin: 35% 0 100% 0;
    padding: 15% 0;
  }

  @include media($large-screen){
    margin: 35% 0 100% 0;
    padding: 15% 0;
  }

  #heading {
    font-size: 125%;
    padding: 0;

    @include media($medium-screen){
      font-size: 200%;
    }

    @include media($large-screen){
      font-size: 225%;
    }
  }
  #sub_heading {
    margin-top: 5%;
    font-size: 100%;

    @include media($medium-screen){
      font-size: 125%;
    }

    @include media($large-screen){
      font-size: 160%;
    }
  }
}

#contact {
  #contact_content {
    p {
      line-height: 2.0em;
      text-align: center;

      @include media($medium-screen){
        @include span-columns(12 of 12);
      }

      @include media($large-screen){
        @include span-columns(6 of 12);
      }
    }
  }
}

#information {
  background: white;

  #information_content {
    color: black;
    @include span-columns(12 of 12);
  }

  a {
    color: black;
    text-decoration: none;
  }
}

.section#contact, .section#information {
  .panel {
    line-height: 2em;
    padding: 5%;

    @include media($medium-screen){
      padding: 2% 20%;
    }

    @include media($large-screen){
      padding: 2% 20%;
    }
  }
}

#map {
  #map_content {
    iframe {
      height: 450px;
      pointer-events: none;
    }
  }
}

nav {
  ul {
    padding: 0;
    li {
      width: calc(100% / 3);
      display: inline-block;
      text-align: center;
      a {
        color: white;
      }
    }
  }
}

.material-icons.md-48 {
  font-size: 48px;
}

.section {
  display: none;
}
