// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

body {
  font-family: 'Open Sans', sans-serif;
  @include outer-container;
  color: white;
  letter-spacing: 0.25em;
  background: black;
}

#content {
  margin-top: 2.5%;
}

.section {
  width: 100%;
  height: 100%;
  @include span-columns(12);
  background-image: url('omi_background.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @include media($large-screen){
    background-position: initial;
  }

  .panel {
    @include span-columns(12 of 12);
    background-color:rgba(0, 0, 0, 0.8);


    #heading_container {
      text-align: center;
      #heading {
        margin-top: 3%;
        font-size: 120%;
        font-weight: bold;

        @include media($medium-screen){
          font-size: 220%;
        }

        @include media($large-screen){
          font-size: 250%;
        }
      }
      #sub_heading {
        margin-top: 5%;
        font-size: 100%;

        @include media($medium-screen){
          font-size: 150%;
        }

        @include media($large-screen){
          font-size: 180%;
        }
      }
    }

    #contact {
      margin-top: 3%;
      p {
        line-height: 2.0em;
        text-align: center;

        @include media($medium-screen){
          @include span-columns(12 of 12);
        }

        @include media($large-screen){
          @include span-columns(6 of 12);
        }
      }
    }

    #information {
      @include span-columns(12 of 12);
    }
  }
}

.section#top, .section#middle {
  .panel {
    line-height: 2em;
    padding: 0 2%;

    @include media($medium-screen){
      margin: 15% 0;
      padding: 2% 20%;
    }

    @include media($large-screen){
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      margin: 15% 0;
      padding: 2% 20%;
    }
  }
}

.section#bottom {
  .panel {
    @include media($medium-screen){
      margin-top: 15%;
    }
    @include media($large-screen){
      margin-top: 15%;
    }
  }
}

#map {
  iframe {
    height: 500px;
    pointer-events: none;

    @include media($medium-screen){
      height: 700px;
    }
    @include media($large-screen){
      height: 700px;
    }
  }
}

.section {
  display: none;
}
